*{
    box-sizing: border-box;
}
body{
    height:100vh;
    margin:0;
    padding:0;
    background:rgb(39,39,39);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display:flex;
    justify-content: center;
    align-items: centers;
}
canvas{
    margin-top:10px;
    z-index:10;
    margin-bottom:10px;
}