*{
    box-sizing: border-box;
}
body{
    height:100vh;
    margin:0;
    padding:0;
    background:rgb(39,39,39);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display:flex;
    justify-content: center;
    align-items: centers;
}
canvas{
    margin-top:10px;
    z-index:10;
    margin-bottom:10px;
}
.game-over{
    width:500;
    height:700;
    margin-bottom:10px;
    margin-top:10px;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    color:whitesmoke;
    z-index:15px;
    background-color:rgb(56,56,56);

    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
}
button{
    cursor:pointer;
    color:black;
    background-color:rgb(195,195,195);
    border:none;
    height:50px;
    width:250px;
    border-radius: 5px;
    font-size:22px;
    font-family:'Courier New','Courier New', Courier, monospace;
}
button:hover{
    filter:brightness(75%);
}
button:active{
    transform:scale(0.95);
}
button:focus{
    outline:none;
}